/*General*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.sticky {
    width: 100%;
    height: 8em;
    background-color: #3b3b3b;
    position: fixed;
    bottom: 0;
	z-index: 1;
	text-align: center;
	font-size: 1.25rem;
	font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.6;
}
.sticky h4 {
	color: white;
	padding: 20px;
}
.button1, .button2 {
	text-align: center;
    max-width: 200px;
    color: black;
    background-color: #cecece;
	padding: .6rem 3rem;
    border-radius: 7px;
    font-size: 20px;
	border: none;
	cursor: pointer;
}
.button1 {
	background-color: #ffffff;
}
.quattro-font {
	font-family: 'Quattrocento';
}
.quattro-sans-font {
	font-family: 'Quattrocento Sans';
}
.upper {
	text-transform: uppercase;
}
.bold {
	font-weight: bold;
}
.bolder {
	font-weight: bolder;
}
.decor-none {
	text-decoration: none;
}
.black-txt {
	color: #000;
}
.white-txt {
	color: #fff;
}
.red-txt {
	color: red;
}
.px12 {
	font-size: 12px;
}
.px17 {
	font-size: 17px;
}
.px18 {
	font-size: 18px;
}
.px20 {
	font-size: 20px
}
.px22 {
	font-size: 22px;
}
.px24 {
	font-size: 24px;
}
.px30 {
	font-size: 30px;
}
.px40 {
	font-size: 40px;
}
.px53 {
	font-size: 53px;
}
.dplay-none {
	display: none;
}
.dplay-show {
	display: flex;
}
.list-none {
	list-style: none;
}
.decor-none {
	text-decoration: none;
}
.focus-none:focus {
	border: none;
	outline: none;
}
/*Header*/
.top-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	width: 1170px;
}
nav ul, .social ul {
	display: flex;
	flex-flow: row;
}
.nav-unit {
	padding: 25px 27px;
}
.hovering:hover li, .hovering:hover li a{
	cursor: pointer;
	background-color: red;
	color: #FFF;
}
.dropdown-content {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropdown-content a {
	float: none;
	padding: 12px 29px;
	display: block;
	text-align: left;
	background-color: #fff;
}
.dropdown:hover .dropdown-content {
	display: block;
	float: none;
}
.dropdown-content a:hover{
	background-color: #ddd;
}
.logo img {
	max-height: 60px;
	margin: 15px 0;
}
.icon {
	height: 16px;
	margin-right: 10px;
}

/*Introduction*/
.introduction {
	background-color: #cecece;
	/*background-image: url(../images/cover3.jpg); 
	background-size: cover;*/
	height: 630px;
}
.slider {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
}
.left-arrow, .right-arrow {
	margin-top: 300px;
	margin-bottom: 300px;
}
.left-arrow button, .right-arrow button {
	background-color: inherit;
	border: none;
	outline: none;
}
.left-arrow button:hover , .right-arrow button:hover {
	cursor: pointer;
}
.intro-area {
	width: 1170px;
	display: flex;
	flex-direction: column;
}
.intro-title {
	margin-left: 10%;
	margin-bottom: 25%;
}
.intro-title p {
	width: 50%;
	margin-top: 30px;
}

/*Main Content*/
.wrap-content {
	margin-top: 50px;
}
.content {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: space-around;
}
.wrap-content section {
	width: 68%;
}
.pre-post-link {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 60px;
}
.pre-post-title, .pre-post-intro {
	margin-left: 25px;
	margin-bottom: 30px;
}
.pre-post-thumb {
	width: 40%;
	position: relative;
	padding-bottom: 23%;
}
.pre-post-thumb img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pre-post-intro {
	display: flex;
	flex-direction: row;
}
.pre-post-intro a {
	padding-right: 8px;
	border-right: dotted #cecece 1px;
}
.pre-post-intro a:nth-child(2), .pre-post-intro p{
	padding-left: 13px;
}
aside {
	border-top: solid 4px #ececec;
	margin-left: -8%;
	width: 25%;
}
.side-title {
	margin: 25px 0 35px;
}
.small-pre-post-link {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 50px;
}
.small-pre-post-txt {
	margin-left: 30px;
}
.small-pre-post-title div:last-child {
	margin: 13px 20px 25px 0;
}
.small-pre-post-thumb {
	width: 45%;
	position: relative;
	padding-bottom: 21.33%;
}
.small-pre-post-thumb img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.view-counter {
	display: flex;
	flex-flow: row;
}
.view-counter img {
	max-height: 8px;
}
.view-counter p {
	margin-left: 8px;
}

/*Footer*/
.wrap-subs {
	background-color: #cecece;
	height: 420px;
}
.subscribe {
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.subs-header {
	margin: 100px 0 40px;
}
.subs-header p:first-child {
	margin-bottom: 35px;
}
.subs-header p:last-child {
	margin: 0 30%;
}
.subs-form input {
	height: 60px;
	padding-left: 20px;
	border: none;
}
.subs-form input:focus {
	border: none;
	outline: none;
}
.subs-form button {
	color: #fff;
	background-color: #3b3b3b;
	padding: 21px 35px;
	border: none;
	cursor: pointer;
}
.subs-form button:focus {
	outline: none;
	border: none;
}
.wrap-info {
	background-color: #000;
	height: 385px;
}
.infomation {
	display: flex;
	flex-flow: row;
	margin: 0 auto;
	justify-content: space-around;
}
.copy, .category {
	margin-top: 60px;
}
.category {
	display: flex;
	flex-flow: row;
	margin-left: 50%;
}
.info-cate div, .post-cate div {
	margin-bottom: 20px;
}
.info-cate {
	margin-right: 140px;
}