/* New User style*/
.sign-in {
	width: 50%;
}
.sign-in input {
	height: 60px;
	padding-left: 20px;
	border: none;
	border-bottom: solid 5px #3b3b3b;
	background-color: #f8f8f8;
	margin: 10px 0;
	width: 100%;
}
.sign-in input::placeholder {
	font-size: 20px;
	font-family: 'Quattrocento Sans';
	color: #a2a2a2;
}
.sign-in input:focus {
	border-bottom-color: #f00;
	outline: none;
}
.flex-wrap-center {
	display: flex;
	flex-flow: row wrap; 
	align-items: center;
	justify-content: center;
}
.checkbox {
	width: 2.5% !important;
	margin-right: 15px !important;
}
.sign-in button {
	color: #fff;
	background-color: #3b3b3b;
	padding: 21px 35px;
	border: none;
	cursor: pointer;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.sign-in button:hover {
	background-color: #f00;
	color: #000;
}
.sign-in button:focus {
	outline: none;
	border: none;
}

/*New Post Style*/
.new-post-header {
	margin: 30px 0 20px 40px;
}
/*.new-post {
	display: flex;
	flex-flow: row;
}
.main-part, .side-part {
	display: flex;
	flex-flow: column;
}
.main-part {
	width: 70%;
}*/
.new-post div {
	margin: 30px 0 20px 20px;
}
.new-post form {
	display: flex;
	flex-flow: row wrap;
}
.main-part {
	width: 70%;
}
.side-part {
	width: 25%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.new-post input {
	height: 100px;
	border: none;
	background-color: #f8f8f8;
	width: 100%;
}
.new-post input::placeholder {
	font-size: 40px;
	color: #a2a2a2;
	font-family: 'Quattrocento Sans';
}
.new-post select {
	padding: 0 15px;
	height: 50px;
	background-color: #f8f8f8;
	border: none;
}
.new-post select:focus {
	border: none;
	outline: none;
}
.new-post textarea {
	width: 100%;
	height: 500px;
	resize: none;
	border: none;
	outline: none;
	background-color: #f8f8f8;
}
.new-post textarea:focus {
	border: none;
	outline: none;
}
.new-post textarea::placeholder {
	font-size: 30px;
	color: #a2a2a2;
	font-family: 'Quattrocento Sans';
	font-weight: bold;
	padding-left: 40px;
	padding-top: 20px;
}
.file label {
	padding: 15px 53px;
	background-color: #f8f8f8;
}
.file label:hover {
	cursor: pointer;
}
.file input{
	width: 0.1px !important;
	height: 0.1px !important;
}
.side-part button {
	color: #fff;
	background-color: #3b3b3b;
	padding: 15px 30px;
	border: none;
	cursor: pointer;
}